<%= form_for(@blip) do |f| %>
  <% if @blip.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@blip.errors.count, "error") %> prohibited this blip from being saved:</h2>
    <ul>
    <% @blip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :convo_id %><br />
    <%= f.text_field :convo_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :tipus %><br />
    <%= f.text_field :tipus %>
  </div>
  <div class="field">
    <%= f.label :character %><br />
    <%= f.text_field :character %>
  </div>
  <div class="field">
    <%= f.label :episode %><br />
    <%= f.text_field :episode %>
  </div>
  <div class="field">
    <%= f.label :tk %><br />
    <%= f.text_field :tk %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
