<h1>Listing blips</h1>

<table>
  <tr>
    <th>Convo</th>
    <th>Title</th>
    <th>Type</th>
    <th>Character</th>
    <th>Episode</th>
    <th>Tk</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blips.each do |blip| %>
  <tr>
    <td><%= blip.convo_id %></td>
    <td><%= blip.title %></td>
    <td><%= blip.type %></td>
    <td><%= blip.character %></td>
    <td><%= blip.episode %></td>
    <td><%= blip.tk %></td>
    <td><%= link_to 'Show', blip %></td>
    <td><%= link_to 'Edit', edit_blip_path(blip) %></td>
    <td><%= link_to 'Destroy', blip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blip', new_blip_path %>
